div class="uk-section uk-background-secondary uk-padding-remove-bottom"
        div class="uk-container uk-container-small uk-padding uk-text-center uk-background-default"
                h1.uk-h1 = @page.title

div class="uk-container-expand uk-background-default"
        div class="uk-container uk-container-small uk-padding-large "
                p = @page.body