<div class="uk-section cg-dark-sc">
    <div class="uk-container uk-text-center">
    <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top uk-light" uk-grid>

        <div class="uk-panel uk-margin-remove-first-child uk-flex uk-flex-center uk-visible@s uk-flex-middle uk-margin  uk-margin-auto uk-text-center uk-scrollspy-inview ">       
            <%=image_tag ("https://emberjs.com/images/boxes-bottom-light.svg") %>            
        </div>
        <div class="">
            <h1 class="uk-heading-medium ar uk-text-bolder uk-text-emphasis ">لكل المهتمين بمجال</h1>
            <span class="uk-heading-small uk-display-block uk-margin-top uk-text-bold"> 3D ANIMATION </span>
            <div class="uk-text-bold">
                <span>MODELING - LIGHTING - MATERIAL - RIGGING - ANIMATION</span>
            </div>
        </div>


</div>
</div>
</div>


<div class="uk-section uk-section-large">
    <div class="uk-container uk-text-center">
    <h2 class="uk-text-bold en ">The best place to learn 3D ANIMATION</h2>
    <h4 class="uk-display-block uk-margin-top uk-text-bold"> With so much content and an incredibly helpful community, you can't go wrong with us. </h4>

</div>
</div>


<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
    <div>
        <div class="uk-height-medium uk-background-default uk-padding ar" >
            <h2 class="uk-text-bolder ar">جاهز للتعمق </h2>
            <h3 class="uk-text-bolder ar">في هذا المجال المثير و المشوق</h3>
        </div>
    </div>
    
    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-default">
    <%=image_tag ("testing.svg"), width: "680"  %>
    </div>

</div>


<div class="uk-section uk-background-default uk-section-large ">
    <div class="uk-container uk-text-center">
    
    </div>
</div>
