<div class="uk-section uk-padding-remove-bottom uk-background-default">
    <div class="uk-text-center ar">
        <h1 class="ar">المدونة</h1>
    </div>
</div>
<div class="uk-container-expand uk-background-default">
    <div class="uk-container uk-container-small uk-padding-large">
        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
                <% @posts.each do |post| %>
                    <div class="">
                        <div class="uk-card shadow uk-padding-remove uk-width-large uk-card-body">
                            <div class="uk-card-media-top">
                            <%= image_tag post.img.variant(combine_options: {resize: '450x150^', extent: '450x150'})  %>
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title ar"><%= link_to post.title, post %></h3>
                                <p><%= truncate((post.body.to_plain_text), length: 80) %></p>
                            </div>
                        </div>
                    </div>
                <% end %>
        </div>
    </div>
</div>